# python==3.9
diffusers==0.24.0
numpy==1.25.0
tqdm==4.67.1
transformers==4.32.1
torch==2.2.0
opencv-python==4.9.0.80
scipy==1.11.3
pyrallis==0.3.1
torchvision==0.17.0
huggingface-hub==0.20.2
ipython==8.18.1
einops==0.8.1
accelerate==0.25.0
matplotlib==3.9.4
torchmetrics==1.7.2